

.drop-img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 100%;
    // x-color: white;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    top: 2%;
}

.dp{
    position: absolute;
    z-index: 2; 
    top: 8%;
    background-color: whitesmoke;
    color: black;
    width: 10%;
    left: 84.8%;
    height: 20vh;
}

.dp-items{
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 9vh;
    font-size: 20px;
}

.pro-link{
    text-decoration: none;
    border: solid black 1px;
}

.logout{
    height: 3vh;
}