.format{
    margin-top: 2vh;
    margin-bottom: 3vh;
}

main{
    border: solid 1px black;
    // height: 100%;
    width: 80%;
    margin: auto;
    // padding-top: 2vh;
}

nav{
    border: solid 1px green;
    height: 8vh;
    text-align: center;
}

.box{
    display: flex;
    // border: 2px red solid;
    // height: 91.5%; 
}

.container-1{
    display: flex;
    justify-content: space-between;
    border: solid 1px red;
    width: 25%;
    // height: 100%;
}

.col-1{
    border: solid 1px red;
    width: 80%;
    height: 100%;
}

.col-2{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}


.container-2{
    display: flex;
    flex-direction: column;
    border: solid blue 1px;
    width: 30%;
    height: 90%;
    // *! change height
}

.sec-2{
  border: solid 1px darkblue;
  height: 30vh;  
  width: 100%;
}


.container-3{
    border: solid darkgoldenrod 1px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 90%;
     // *! change height
}

.sec-3{
    border: solid 1px black;
    height: 30vh;
}