
.prof-cont{
    display: flex;
    border: solid 1px red;
    justify-content: space-between;
    height: 90vh;
}

.pro-info{
    border: solid 2px green;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
}

.pro-img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 100%;
    margin: 4vh 0vw 3vh 0;
    border: solid 1px black;
}

.user-info{
    border: solid 2px red;
    height: 30vh;
    width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-around
}

.pro-btns{
    height: 5vh;
}

.recCrtr{
    width: 70%;
    border: solid 1px blue;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.pro-recipe-input{
    // border: solid 2px red;
    margin: 5vh 0 5vh 0;
    width: 100%;
    height: 70vh;
}

.profile-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 25vh;
    border: solid 1px blue;
}

.pro-btn{
    height: 5vh;
}

.recp-cr8tor{
    // border: 2px black solid;
    // width: 40%;
}
