
.prof-cont{
    display: flex;
    border: solid 1px red;
    justify-content: space-around;
    height: 90vh;
}

.pro-info{
    border: solid 2px green;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
}

.pro-img{
    height: 30vh;
    border-radius: 100%;
    margin: 4vh 0 3vh 0;
}

.user-info{
    border: solid 2px red;
    height: 30vh;
    width: 70%;
   
}

.recCrtr{
    width: 40%;
    border: solid 1px blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 25vh;
    border: solid 1px blue;
}

.pro-btn{
    height: 5vh;
}