.planner-main{
    position: absolute;
    top:10%;
    right: 0;
    display: flex;
    flex-direction: column;
    .planner-top-section{
        display: flex;
    }
    .planner-bottom-section{
        display: flex;
    }
    .day{
        width: 100px;
        height: 200px;
    }
}