.planner-main{
    position: absolute;
    top:12%;
    right: 0;
    display: flex;
    flex-direction: column;
    height:90%;
    width: 30%;

    .planner-top-section, .planner-bottom-section{
        display: flex;
        height:50%;
        margin-top: 10px;
        .day{
            width: 40%;
            height: 100%;
            
            .day-title{
                font-family: $text-font;
                text-decoration: underline;
            }
            .meal-names{
                height: 19%;
                .meal-name{
                    display: flex;
                }
            }
        }    
    }

}