.reg-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // border: solid 1px black;
    width: 30vw;
    height: 48vh;
    margin: 0vh 10vw 0 10vw;
}

.reg-ipt{
    height: 5vh;
    outline: none;
    border: none;
}

.reg-ipt:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: blue;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
    
}

.reg-ipt:hover:after { 
    width: 100%; 
    left: 0; 
  }

.regsub{
    width: 40%;
    padding:10px;
    margin-left: auto;
    background-color: #3F51B5;
    color: white;
}

.reg-h3{
    margin-bottom: 2vh;
}

.reg-err{
    color: red;
    top: 0%;
    // font-size: 1px;
}