.reg-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // border: solid 1px black;
    width: 30vw;
    height: 48vh;
    margin: 0vh 10vw 0 10vw;
}

.reg-ipt{
    height: 5vh;
    outline: none;
    border: none;
    font-size: 15px;
    text-indent: 3px;
}


.regsub{
    width: 40%;
    padding:10px;
    margin-left: auto;
    background-color: #3F51B5;
    color: white;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    font-family: $register-font;
    font-weight: 500;
    font-size: 14px;
}

.reg-h3{
    // margin-bottom: 0vh;
    margin-top: 2vh;
    font-family: $register-font;
    // font-weight: 500;
    // font-size: px;
}

.reg-err{
    color: red;
    top: 0%;
    font-family: $register-font;
    // font-size: 1px;
}