.home-main {
  background-image: radial-gradient(
    $light-blue,
    darken($blue, 20%),
    $black 100%
  );

  min-height: 100vh;
  .home-components {
    display: flex;
  }
  .home-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background-color: $blue;
    border: 2px solid $orange;

    .home-user-buttons {
      display: flex;
      justify-content: space-around;
      width: 20%;

      button {
        font-family: $text-font;
        border: 3px solid $orange;
        background-color: $yellow;
        cursor: pointer;
        border-radius: 20px;
        padding: 3px;
      }
    }
    .home-button {
      border: 3px solid $orange;
      background-color: $yellow;
      cursor: pointer;
      border-radius: 20px;
      padding: 3px;
      font-family: $text-font;
    }
    .toggle-buttons {
      border: 3px solid $yellow;
      background-color: $light-blue;
      cursor: pointer;
      border-radius: 20px;
      padding: 3px;
      font-family: $text-font;
    }
    .search-bar {
      display: flex;
      align-items: center;
      height: 50%;
      width: 18%;
      input {
        height: 50%;
        width: 100%;
      }
      button {
        border: 3px solid $orange;
        background-color: $yellow;
        cursor: pointer;
        border-radius: 20px;
        padding: 3px;
        font-family: $text-font;
      }
    }
  }
}

.meal-plan {
}

.main-cond {
}

.show-meal-plan {
  display: block;
}
.hide-meal-plan {
  display: none;
}
.hide-home-main {
  display: none;
}
.show-home-main {
  display: block;
}
