.sign-cont{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.50);
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.sign-form{
    background-color: whitesmoke;
    margin-top: 20vh;
    width: 50%;
    height: 55vh;
    color: black;
    border-radius: 4px;
    z-index: 4;
    left: 25%;
    position: absolute;
    position: fixed;
}

.tog{
    display: flex;
    // justify-content: space-evenly;
    // width: 100%;
}

.btn-1, .btn-2{
    width: 100%;
    height: 5vh;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #3F51B5;
    font-size: 15px;
    border-top-right-radius: 4px;
    font-family: $register-font;
    font-weight: 500;
}

.new-btn-1, .new-btn-2{
    width: 100%;
    height: 5vh;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    font-size: 15px;
    border-top-left-radius: 4px;
    font-family: $register-font;
    font-weight: 500;
}



.sign-inputs{
    // border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 20vh;
    margin:8vh auto 2vh auto;
}

.sign-input{
    height: 4vh;
}