.sign-cont{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.50);
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.sign-form{
    background-color: whitesmoke;
    margin-top: 30vh;
    width: 40%;
    height: 40vh;
    color: black;
}

.sign-inputs{
    // border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 20vh;
    margin:8vh auto 2vh auto;
}

.sign-input{
    height: 4vh;
}