.tut-div{
    border: 1px solid red;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.tut-steps{
    border: solid 1px black;
    width: 30%;
}