// Font Imports
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

//font variable declaration
$title-font:'Permanent Marker', cursive;
$text-font:'Raleway', sans-serif;


//color variable declaration
$black: #30353a;
$gray: #999999;
$blue: #7089a3;
$light-blue: #adccea;
$yellow: #f5b333;

